<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="/lib.js"></script>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body style="background: var(--tg-theme-bg-color); color: var(--tg-theme-text-color)">

</body>
<script src="/app.js"></script>
<script>
    window.addEventListener("load", ()=>{
    new Application();
});
</script>
</html>