body{
    background: var(--tg-theme-bg-color); 
    color: var(--tg-theme-text-color);
    padding: 0;
    margin: 0;
}
.game_button{
    background-color: transparent;
    border-radius: .4rem;
    box-shadow: 3px 3px 7px var(--tg-theme-section-header-text-color);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}
.main{
    display: grid;
    grid-template-areas: "panel"
                         "game_window";
                         
    grid-template-rows: 1fr 15fr;
    height: var(--tg-viewport-stable-height);
}
.user_panel
{
    grid-area: panel;
    background: var(--tg-theme-section-header-text-color);
}
.game_window
{
    grid-area: game_window;
    background: var(--tg-theme-secondary-bg-color);
}
